<%-include("partials/header.ejs")%>

<div class="content_container">
  <div class="query_mask"></div>
  <div class="query_container">
    <form name="queryForm">
      <span class="date">
        <%if(locals.startDate){%>
          <label for="startDate">Start Date</label>
          <input type="date" name="startDate" placeholder="2024-04-01" value="<%=startDate%>"/>
        <%}%>
        <%if(locals.endDate){%>
          <label for="endDate">End Date</label>
          <input type="date" name="endDate" placeholder="2024-04-30"  value="<%=endDate%>"/>
        <%}%>
      </span>
      <span class="sel">  
        <label for="destination">Destination</label>
          <select name="destination">
            <%if(locals.countries){%>
              <% for (let country of countries) { %>
                <option value="<%=country.countryCode%>" selected><%=country.name%></option>
              <% } %>
            <%}%>
          </select>
      </span>  
      <span class="btn">
        <button name="button" type="button">search</button>
      </span>
    </form>
  </div>
  <div class="result_container">
    <div class="msg">Find no result</div>
    <div id="table"></div>     
  </div>
</div>

<%-include("partials/footer.ejs")%>

<script>
  const queryFormBtn = document.forms["queryForm"]["button"];
  queryFormBtn.addEventListener("click", function(event){
    event.preventDefault();
    if (validation()){
      let startDate = document.forms["queryForm"]["startDate"].value;
      let endDate = document.forms["queryForm"]["endDate"].value;
      let destination = document.forms["queryForm"]["destination"].value;
      const data = {
        startDate: startDate, 
        endDate: endDate,
        destination: destination,
      };
      let xhr = new XMLHttpRequest();
      xhr.open("POST", "/search", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = async () => {
        if(xhr.readyState===4 && xhr.status===200){
          console.log("request success");
          let result = JSON.parse(xhr.responseText);
          if(result.emptyFlag === "Y"){
            document.querySelectorAll(".msg")[0].style.display = "block";
            document.getElementById("table").innerHTML = "";
          } else {
            const theadList = ["Date", "Name", "Local Name", "Type", "Global"];
            let theadContent = "";
            for(let i = 0; i < 5; i++){
              theadContent += `<th>${theadList[i]}</th>`;
            }
            let theadStr = `<thead class="tableHead"><tr>${theadContent}</tr></thead>`;
            let captionStr = `<caption class="cap">Holiday List</caption>`;
            let tbodyStr = "";
            for(let holiday of result.holidayList){
              let date = `<td>${holiday.date}</td>`;
              let name = `<td>${holiday.name}</td>`;
              let localName = `<td>${holiday.localName}</td>`;
              let typeStr = "";
              for(let type of holiday.types){
                typeStr += `<td>${type},</td>`;
              }
              let global = `<td>${holiday.global}</td>`;
              tbodyStr += `<tr>${date}${name}${localName}${typeStr}${global}</tr>`
            }
            let tableStr = `<table width='800px' class="rTable">${captionStr}${theadStr}${tbodyStr}</table>`;
            document.getElementById("table").innerHTML = tableStr;
            // await reloadPage();
          }
        }
      }
      xhr.send(JSON.stringify(data));
    }
  });

  document.getElementsByName("startDate")[0].addEventListener("click", function(){
    document.querySelectorAll(".msg").forEach((t)=>{
      t.style.display = "none";
    });
  });

  document.getElementsByName("endDate")[0].addEventListener("click", function(){
    document.querySelectorAll(".msg").forEach((t)=>{
      t.style.display = "none";
    });
  });

  document.getElementsByName("destination")[0].addEventListener("click", function(){
    document.querySelectorAll(".msg").forEach((t)=>{
      t.style.display = "none";
    });
  });

  function validation(){
    let flag = true;
    let startDate = document.forms["queryForm"]["startDate"].value;
    let endDate = document.forms["queryForm"]["endDate"].value;
    let destination = document.forms["queryForm"]["destination"].value;
    let criteria1 = startDate===undefined||startDate===''||startDate===null;
    let criteria2 = endDate===undefined||endDate===''||endDate===null;
    let criteria3 = destination===undefined||destination===''||destination===null;
    if (criteria1||criteria2||criteria3){
      flag = false;
      alert("startDate, endDate, destination should not be empty.");
    }
    if(dateCompare(startDate, endDate) < 0){
      alert("startDate must be earlier than endDate.");
      flag = false;
    }
    return flag;
  }

  async function reloadPage() {
    return new Promise(resolve => {
        location.reload(true); 
        // 頁面完全加載後結束異步
        window.onload = resolve('success'); 
    });
  }

  function dateCompare(dateStr1, dateStr2){
    const date1 = Date.parse(dateStr1);
    const date2 = Date.parse(dateStr2);
    if (date2 < date1){
      return -1;
    } else if(date2 == date1){
      return 0;
    } else {
      return 1;
    }
  }
</script>